<div class="relative flex flex-col w-[130px] h-[130px]">
  <img src="../../../assets/airmax-full-black.png" alt="" class="transform -rotate-30 z-10 absolute top-[-10px]">
  <div class="absolute top-20 flex flex-col w-full bg-stone-100 px-5 pt-[3rem] pb-1 rounded-lg">
    <p class="font-semibold">AIR MAX 270</p>
    <p class="font-light text-slate-500 text-sm">$ 170</p>
  </div>
  <button class="absolute bottom-[-80px] right-[-18px] bg-black text-white rounded-full h-10 w-10 flex items-center justify-center text-xl leading-none">+</button>
</div>

