<app-navbar></app-navbar>
<div class="w-full h-full flex">
  <div class="w-1/2 flex flex-col items-center mt-20">
    <h1 class="text-8xl font-bold tracking-eight">NIKE</h1>
    <h3 class="text-7xl tracking-double font-extralight py-2">AIR MAX</h3>
    <p class="text-wrap max-w-sm py-3 text-sm font-medium">
      The Nike Air Max brand, launched in 1987, is known for its visible cushioning technology and bold design.
      Discover the difference that Air Max quality can make in your daily life.</p>
    <div class="flex flex-row justify-center w-full space-x-14 py-3 items-center">
      <p class="font-bold text-3xl">$ 200</p>
      <button class="font-medium shadow-btn px-6 py-2 rounded-full">BUY NOW</button>
    </div>
  </div>
  <div class="flex-1">
    <p>lado direito</p>
  </div>
</div>
